# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/projeto/dist
/projeto/tmp
/projeto/out-tsc
/projeto/bazel-out

# Node
/projeto/node_modules
/projeto/npm-debug.log
/projeto/yarn-error.log

# IDEs and editors
/projeto/.idea/
/projeto/.project
/projeto/.classpath
/projeto/.c9/
/projeto/*.launch
/projeto/.settings/
/projeto/*.sublime-workspace

# Visual Studio Code
/projeto/.vscode/*
/projeto/!.vscode/settings.json
/projeto/!.vscode/tasks.json
/projeto/!.vscode/launch.json
/projeto/!.vscode/extensions.json
/projeto/.history/*

# Miscellaneous
/projeto/.angular/cache
/projeto/.sass-cache/
/projeto/connect.lock
/projeto/coverage
/projeto/libpeerconnection.log
/projeto/testem.log
/projeto/typings

# System files
/projeto/.DS_Store
/projeto/Thumbs.db
